*{
  padding: 0;
  margin: 0;
}
h1,h2,h3,h5{
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: white
}
header{
  width: 100%;
  height: 100%;
  background-color: #948c64;
  text-align: center;
  padding-bottom: 80PX;
  font-size: 48px;
}
.slider{
    width: 100%;
    height: 100%;
    background-color: #b6b193;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
    font-size: 48px;
}
.content{
  overflow: hidden;
}
.left{
  float: left;
  width: 20%;
  height: 500px;
  background-color: #27380e;
}
.center{
  float: left;
  width: 60%;
  height: 500px;
  /* background-color: #384f15; */
}
.top{
  height: 33.3%;
  background-color: #638d25;
}
.middle{
  height: 33.3%;
  background-color: #4f701d;
}
.bottom{
  height: 33.3%;
  background-color: #3b5416;
}
.right{
  float: left;
  width: 20%;
  height: 500px;
  background-color: #27380e;
}
footer {
  background-color: #0d1204;
  height: 150px;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 120px;
}
